/********************************/
/*       Global Styles          */
/********************************/
:root {
    /* Color setup */
    --primary-color: #A554E6;
    --secondary-color: #344054;
    --lite: white;

    /* Font Color */
    --txt-main: #000000;
    --txt-sec: var(--secondary-color);
    --txt-muted: ;


    /* Typography */
    --font-main: "poppins", sans-serif;
    --font-sec: "inter", sans-serif;


    /* Font */

    --h1: 56px;
    --h1-line: 84px;

    --h2: 56px;
    --h2-line: 84px;

    --h3: 56px;
    --h3-line: 84px;

    --h5: 20px;
    --h5-line: 24px;


    --p1: 18px;
    --p1-line: 28px;

    --p2: 16px;
    --p2-line: 24px;


    --border-radius: 20px;

    --padding-y: 80px 0;

}



/********************************/
/*        Global Styles          */
/********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D0D5DD;
    font-family: var(--font-main);
}

h1 {
    font-size: var(--h1);
    line-height: var(--h1-line);
}

p {
    font-size: var(--p2-line);
    line-height: var(--p2-line);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    border: 1px solid #D0D5DD;
    background-color: var(--lite);
    border-radius: 24px;
    padding: 8px 27px;
    color: black;
    font-size: var(--p1);
    font-weight: 500;
    font-family: var(--font-main);
}

.btn-outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--lite);

}

.btn-primary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

}

.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}







.border {
    border: 2px solid red;
}

/********************************/
/*        Header Styles         */
/********************************/

header {
    padding: 16px 0;
    background: var(--lite);
}

nav {
    margin: 16px auto;
}

.nav-actions {
    flex-direction: row;
}

.nav-links {
    justify-content: space-evenly;
    list-style: none;
    gap: 32px;
    margin: 0 60px;
    font-size: var(--p1);
    line-height: var(--p1-line);
    transition: 0.3s ease-in-out;
}

.nav-links a {
    text-decoration: none;
    color: var(--txt-sec);
    transition: .3s;
}


.nav-links a:hover {
    color: var(--primary-color);

}

.nav-btns>button {
    margin: 10px;
}

.toggle {
    display: none;
    background: transparent;
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 24px;
}

/********************************/
/*         Styles          */
/********************************/









/********************************/
/* Responsive For Mobile Device */
/********************************/
@media screen and (max-width:992px) {
    .container {
        padding: 0 16px;
    }

    .nav-actions {
        background-color: var(--lite);
        /* margin: 0 auto; */
        flex-direction: column;
        align-items: center;
        position: fixed;
        padding:12px 0;
        top: 8vh;
        right: -100%;
        width: 100%;
        transition: 0.4s ease-in-out;
        border-radius: var(--border-radius);
    }

    .nav-actions.active {
        right: 0;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-btns{
        display: flex;
        flex-direction: row !important;
        /* margin-bottom: 34px; */
    }

    .toggle {
        display: block;
        border: none;
        outline: none;
        z-index: 101;
    }
}