/********************************/
/*       Global Styles          */
/********************************/
:root {
    /* Color setup */
    --primary-color: #A554E6;
    --secondary-color: #344054;
    /* gray-700 */
    --lite: white;

    /* Font Color */
    --txt-main: #000000;
    --txt-sec: var(--secondary-color);
    --txt-muted: ;

    /* Font Gradient */
    --text-gradient: linear-gradient(90deg,
            #2B034D 0%,
            #B564F7 42%,
            #D37EF0 82%,
            #EF90FF 100%);

    /* Typography */
    --font-main: "poppins", sans-serif;
    --font-sec: "inter", sans-serif;
    --font-alt: "raleway", sans-serif;


    /* Font */

    --h1: 56px;
    --h1-line: 84px;

    --h2: 48px;
    --h2-line: 65px;

    --h3: 32px;
    --h3-line: 45px;

    --h4: 24px;
    --h4-line: 32px;

    --h5: 20px;
    --h5-line: 24px;


    --p1: 18px;
    --p1-line: 28px;

    --p2: 16px;
    --p2-line: 24px;



    --border-radius: 20px;

    --padding-y: 80px 0;

}



/********************************/
/*        Global Styles          */
/********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: var(--font-main);
    overflow-x: hidden;
}

h1 {
    font-size: var(--h1);
    line-height: var(--h1-line);
}

h2 {
    font-size: var(--h2);
    line-height: var(--h2-line);
}

h3 {
    font-size: var(--h3);
    line-height: var(--h3-line);
}

h4 {
    font-size: var(--h4);
    line-height: var(--h4-line);
}

h5 {
    font-size: var(--h5);
    line-height: var(--h5-line);
}

p {
    font-size: var(--p2);
    line-height: var(--p2-line);
}

.py-100 {
    padding: 100px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #e0e0e0;
    border-radius: 24px;
    padding: 8px 27px;
    color: black;
    font-size: var(--p1);
    font-weight: 500;
    font-family: var(--font-main);
}

.btn-outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

}

.btn-primary {
    border: none;
    background-image: linear-gradient(to top, #6A2F9B, #B564F7);
    color: var(--lite);
    
}


.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.span {
    color: var(--primary-color);
}







/********************************/
/*        Header Styles         */
/********************************/

header {
    padding: 16px 0;
    background: var(--lite);
}

nav {
    margin: 16px auto;
}

.nav-actions {
    flex-direction: row;
}

.nav-links {
    justify-content: space-evenly;
    list-style: none;
    gap: 32px;
    margin: 0 60px;
    font-size: var(--p1);
    line-height: var(--p1-line);
    transition: 0.3s ease-in-out;
}

.nav-links a {
    text-decoration: none;
    color: var(--txt-sec);
    transition: .3s;
}


.nav-links a:hover {
    color: var(--primary-color);

}

.nav-btns>button {
    margin: 10px;
}

.toggle {
    display: none;
    background: transparent;
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 24px;
}

/********************************/
/*    Hero Section Styles       */
/********************************/
.hero {
    padding: 80px 0 60px;
}

.badge {
    width: fit-content;
    background-color: var(--lite);
    border-radius: var(--border-radius);
    padding: 8px 16px;
    color: var(--secondary-color);
}

.badge p {
    font-size: var(--p2);
    padding: 0 10px 0;
}

.top-container {
    flex-direction: row;
    gap: 28px;
}

.hero-content h2 {
    margin: 12px 0;
}

.hero-content h2>span {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hero-content h2>span:last-child {
    color: #D32E23;
}

.hero-content>p {
    font-family: var(--font-sec);
    font-size: var(--p1);
    line-height: 32px;
    margin-bottom: 28px;
}

.hero-image {
    gap: 20px;
}

.hero-image img {
    border-radius: var(--border-radius);
}

.bottom-wrapper {
    justify-self: end;

}

.bottom-container {
    flex: 1;
    width: 33%;
    margin-top: 36px;
    padding: 20px 24px;
    border-radius: var(--border-radius);
    background-color: var(--lite);
}

.bottom-container>h5 {
    font-weight: 500;
    margin-bottom: 12px;
}

.social-icons {
    gap: 32px;
}

.outer-cicle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-cicle {
    height: 30px;
    width: 30px;

    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lite);
}

.insta-bg {
    background: linear-gradient(45deg,
            #FEE411 0%,
            #FEDB16 5%,
            #FEC125 14%,
            #FE983D 25%,
            #FE5F5E 38%,
            #FE2181 50%,
            #9000DC 100%);
}

.fb-bg {
    background-color: #1877F2;
}

.x {
    background-color: var(--txt-main);
}

.yt-bg {
    color: #F61C0D;
    font-size: 27px;
}

.linked-in {
    background-color: #007AB9;
}

/********************************/
/*    Clients Section Styles    */
/********************************/
.clients {
    overflow: hidden;
    background-color: var(--lite);
    padding: 48px 0;
}

.clients-number {
    max-width: 265px;
    z-index: 11;
    position: relative;
    background-color: var(--lite);

    border-right: 1px solid;

    border-image-source: linear-gradient(to bottom, transparent 0%, #363636 40%, #000000 40%, transparent 100%);
    border-image-slice: 1;

    /* padding-right: 40px;
    margin-right: 40px; */
}

.clients p {
    font-size: var(--h5);
    color: var(--secondary-color);
}


.clients-company-logo {
    overflow: hidden;
    flex: 1;
    margin-left: 71px;
    white-space: nowrap;
    position: relative;
}

.logo-track {
    display: flex;
    gap: 27px;
    width: max-content;
    animation: marquee 15s linear infinite;
}

.logo-track:hover {
    animation-play-state: paused;
}

.logo-track img {
    height: 48px;
    flex-shrink: 0;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-40%);
    }
}

/********************************/
/*    Services Section Styles   */
/********************************/
.heading {
    max-width: 65%;
    margin: 0 auto 48px;
    text-align: center;
    flex-direction: column;
    gap: 16px;

}

.heading>p {
    color: var(--secondary-color);
    font-family: var(--font-sec);
}

.we-provide {
    /* gap: 48px; */
    padding: 28px 24px;
    background-color: var(--lite);
    border-radius: var(--border-radius);
}

.we-provide button {
    margin: 48px auto 0;
    text-align: center;
}


.service-title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 32px;
}

.service-title img {
    height: 100%;
    width: 100%;
}


.service-list>div h4 {
    font-weight: 500;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.card-image {
    width: 18px;
    height: 18px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.service-list div:nth-child(3) {
    margin: 24px 0;
}

.card-item {
    width: 550px;
}

.card-item p:first-child {
    font-size: var(--p1);
    font-weight: 500;
    margin-bottom: 5px;
}

.card-item p:last-child {
    font-size: 14px;
    color: var(--secondary-color);
}


.service-divider {
    margin: 0 48px;
    width: 1px;
    background: linear-gradient(to bottom, transparent 0%, #363636 40%, #000000 40%, transparent 100%);

}


.price-card {
    padding: 24px;
    border-radius: var(--border-radius);
    border: 1px solid #D0D5DD;
    gap: 113px;

}

.price-card>div>p:first-child {
    font-size: var(--p1);
    font-weight: 500;
    margin-bottom: 12px;
}

.price-card>div>p:las-child {
    font-size: var(--p2);
    font-weight: 500;
    margin-bottom: 12px;
}

.border-circle {
    width: 20px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
}

.border-none {
    border: none;
    width: 20px;
}

.price-card-badge {
    background-color: var(--secondary-color);
    color: var(--lite);
    border-radius: 6px;
    padding: 4px 12px;
    width: fit-content;
}

.price-card-badge p {
    font-size: 12px;
}

.card-2nd {
    margin: 16px 0;
}

.card-2nd div:last-child {
    background-color: var(--primary-color);

}

.card-2nd-p {
    font-size: var(--p1);
    font-weight: 500;
    margin-bottom: 12px !important;
}



/********************************/
/*    Responsive For Tablet     */
/********************************/

/* Section & Title */
.section-padding {
    padding: 100px 0;
}

.main-title {
    font-size: var(--h2);
    text-align: center;
    margin-bottom: 48px;
    font-weight: 700;
    font-family: var(--font-alt);
}


.top-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 40px;
}

.bottom-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.feature-card {
    background: var(--lite);
    border: 1px solid #f0f0f0;
    border-radius: var(--border-radius);
    padding: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.02);
}

.feature-card p {
    color: var(--secondary-color);
}

.card-header {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 16px;
}

.card-header>h5 {
    font-weight: 500;
}

.check-icon {
    background-color: var(--primary-color);
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    flex-shrink: 0;
    margin-top: 4px;
}

.feature-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}

.simple-card {
    border: 1px solid #eaecf0;
    border-radius: 16px;
    padding: 24px;
}

.simple-card h5 {
    margin-bottom: 12px;
    font-weight: 600;
}

.simple-card p {
    color: var(--secondary-color);
}



/********************************/
/*    Videos Section Styles     */
/********************************/

.video-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 40px;
}



.title-capsule {
    display: inline-block;
}

.video-grid-container {
    position: relative;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.video-card {
    text-align: center;
    font-size: var(--h5);
    font-weight: 500;
    color: var(--secondary-color);
}

.thumbnail {
    position: relative;
    width: 100%;
    height: 326px;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-bottom: 15px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  Play Button */
.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.video-card p {
    font-size: 16px;
    color: var(--txt-sec);
    font-weight: 500;
}

.next-arrow {
    position: absolute;
    right: -20px;
    top: 40%;
    width: 40px;
    height: 40px;
    background: black;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 5;
}



/********************************/
/*      SHORT VIDEO STYLES      */
/********************************/

.about-section {
    background-color: #ffffff;
    padding: 40px 0;
}

.flex-center {
    display: flex;
    align-items: center;
    gap: 80px;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: var(--border-radius);
    display: block;
}

.about-content {
    flex: 1;
}

.section-title {
    font-family: var(--font-alt);
    margin-bottom: 24px;
    font-weight: 700;
}

.about-content p {
    font-size: var(--p2);
    color: var(--secondary-color);
    margin-bottom: 40px;
}






/********************************/
/*    Responsive For Tablet     */
/********************************/
@media screen and (max-width: 1024px) {
    :root {
        --h1: 42px;
        --h1-line: 58px;

        --h2: 36px;
        --h2-line: 48px;

        --p1: 16px;
        --p1-line: 26px;
    }

    .container {
        padding: 0 32px;
    }

    .nav-actions {
        background-color: var(--lite);
        flex-direction: column;
        align-items: center;
        position: fixed;
        padding: 20px 0;
        top: 70px;
        right: -100%;
        width: 100%;
        transition: 0.4s ease-in-out;
        border-radius: var(--border-radius);
    }

    .nav-actions.active {
        right: 0;
    }

    .nav-links {
        flex-direction: column;
        margin: 20px 0;
    }

    .nav-btns {
        display: flex;
        gap: 10px;
    }

    .toggle {
        display: block;
        border: none;
        outline: none;
        z-index: 101;
    }

    /*  Hero   */
    .top-container {
        gap: 20px;
        padding-top: 20px;
    }

    .badge {
        width: fit-content;
        /* margin-top: 16px; */
    }

    .hero-content {
        width: 65%;
    }

    .hero-content p {
        font-size: 16px;
    }

    .hero-image {
        margin-top: 16px;
    }

    .hero-image img {
        width: 100%;
        height: auto;
    }

    .hero-image img:last-child {
        display: none;
    }

    .bottom-wrapper {
        flex-wrap: wrap;
        gap: 20px;
    }

    .bottom-container {
        width: 45%;
        margin-bottom: 36px;

    }

}

/********************************/
/*    Responsive For Mobile     */
/********************************/
@media screen and (max-width:768px) {
    :root {
        --h1: 32px;
        --h1-line: 44px;

        --h2: 28px;
        --h2-line: 38px;

        --p1: 15px;
    }

    .container {
        padding: 0 16px;
    }

    .top-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-content {
        text-align: center;
        width: 100%;
    }

    .hero-content h2 {
        margin: 0 auto;
    }

    .hero-content>p {
        margin: 16px 0;
    }

    .badge {
        width: fit-content;
        margin: 16px auto;
    }

    .hero-image {
        width: 100%;
    }

    .bottom-wrapper {
        justify-self: center;
    }

    .bottom-container {
        width: fit-content;
        padding: 14px 16px;
        margin: 16px 16px 32px;

    }

    .social-icons {
        gap: 12px;
    }

}